{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_index_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/topbar.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="mdl-layout mdl-js-layout">
    {% include "home/topbar.html" %}
    <main class="mdl-layout__content">
        <div class="content-box">
            <div class="title">{{ page.title }}</div>
            <div class="intro">{{ page.intro|richtext }}</div>
            <div class="blog-list-box">
            {%  for blog in page.blogs %}
                <div class="blog-box mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title mdl-card--expand">
                      <h2 class="mdl-card__title-text">{{ blog.title }}</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                      <h6 class="mdl-card__subtitle-text">Published on {{ blog.first_published_at|date:"D, j M, Y" }}</h6>
                        {{ blog.body|richtext }}
                  </div>
                </div>
            {%  endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock content %}
