{%  load menu_tags %}
<header class="mdl-layout__header topbar">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <a class="mdl-layout-title" href="/">The Schuman Show</a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        {% main_menu max_levels=1 %}
{#        <nav class="mdl-navigation">#}
{#            <a class="mdl-navigation__link active" href="">About</a>#}
{#            <a class="mdl-navigation__link" href="">Tickets</a>#}
{#            <a class="mdl-navigation__link" href="">Videos</a>#}
{#            <a class="mdl-navigation__link" href="">Cast</a>#}
{#            <a class="mdl-navigation__link" href="">Updates</a>#}
{#        </nav>#}
    </div>
</header>
<div class="mdl-layout__drawer">
    <a class="mdl-layout-title" href="/">The Schuman Show</a>
    {% main_menu max_levels=1 %}
</div>
