.cast-profile-box .mdl-card__title{
    height: 300px;
    background-size: cover;

}

.cast-profile-box .mdl-card__supporting-text {
    padding: 5px 5%;
}

.cast-profile-box .mdl-card__supporting-text a {
    color: #082366;
}

.cast-profile-box .mdl-card__supporting-text .mdl-card__title-text {
    padding: 5px 0;
    color: #082366;
}

.cast-profile-box .mdl-card__supporting-text .mdl-card__subtitle-text {
    font-weight: bold;
    color: #082366;
    margin-bottom: 10px;
}

.cast-profile-box .mdl-card__supporting-text p:last-child {
    margin-bottom: 5px;
}

.cast-profile-box .mdl-card__actions {
    padding: 0 8px;
}

.cast-profile-box {
    max-width: 100%;
    min-width: 250px;
    float: left;
    box-shadow: 0 2px 2px 0 rgb(255 255 255 / 65%), 0 3px 1px -2px rgb(255 255 255 / 60%), 0 1px 5px 0 rgb(255 255 255 / 65%);
    border-radius: 10px;
}
