.topbar {
    background-color: black;
    box-shadow: none;
}

.mdl-layout__drawer {
    background-color: #061947;
}

.topbar .mdl-layout-title {
    color: #ffc300;
    text-decoration: none;
}

.mdl-layout__drawer .mdl-layout-title {
    text-decoration: none;
    color: #ffc300;
}

.main-nav .mdl-navigation .mdl-navigation__link {
    color: white;
    font-size: 20px;
    font-variant: all-small-caps;
    opacity: 1;
    font-weight: bold;
}

.main-nav .mdl-navigation .mdl-navigation__link:hover {
    color: #ffc300;
    background: none;
}


.main-nav .mdl-navigation__link.active {
    color: #ffc300;
    border-bottom: thin solid #ffc300;
}

.topbar .mdl-layout__header-row {
    padding: 0 40px;
}

.mdl-layout__drawer-button {
    color: #ffc300;
}

@media screen and (min-width: 1024px) {
    .mdl-layout__drawer-button {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: block;
    }

    .mdl-layout__header nav.mdl-navigation {
        display: none;
    }

    .topbar .mdl-layout__header-row {
        padding: 0 0 0 80px;
    }
/*
    .topbar .mdl-layout-title {
        font-size: 24px;
    }*/
}
